@page

<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks For Placing Order #@OrderId</p>
    <p>We'll Ship Your Goods As Soon As Possible.</p>
    <a class="btn btn-primary" asp-controller="Home">Return To Store</a>
</div>

@functions {
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}